* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Nevanta';
    src: url('fonts/Nevanta-Black.otf') format('truetype');
}

body {
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
    font-family: 'Nevanta', sans-serif;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("logo.png");
    background-size: 30%;
    background-position: center 65%;
    background-repeat: no-repeat;
    opacity: 0.1;
    z-index: -1;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav-bar{
    background-color: #86100E;
    max-width: 2200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    width: 100%;
    color: white;
}

.logo{
    height: 100px;
    margin-left: 100px;
}

.Name{
    color: white;
    font-size: 30px;
    margin-left: 15px;
    flex: 1;
}

.Name a{
    color: white;
    text-decoration: none;
}

.nav-bar ul{
    list-style: none;
    display: flex;
    align-items: center;
    margin-right:100px;
}

.nav-bar ul li{
    position: relative;
    padding: 15px 20px;
}

.nav-bar ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.nav-bar ul li:hover{
    background-color: rgb(179,46,46);
    border-radius: 3px;
}


.sub-nav-1{
    display: none;
}

.hover, .nav-bar ul li:hover .sub-nav-1 {
    display: block;
    position: absolute;
    background-color: rgb(179, 46, 46);
    margin-top: 14px;
    margin-left: -20px;
}

.hover, .nav-bar ul li:hover .sub-nav-1 ul {
    display: block;
    margin: 20px;
}

.hover, .nav-bar ul li:hover .sub-nav-1 ul li {
    width: 200px;
    padding: 10px;
    border-bottom: 1px dotted white;
    background: transparent;
    border-radius: 0px;
    text-align: left;
    margin-top: 15px;
}

.hover, .nav-bar ul li:hover .sub-nav-1 ul li:last-child {
    border-bottom: none;
}

.hover, .nav-bar ul li:hover .sub-nav-1 ul li a:hover {
    color: rgb(22, 22, 22);
}

.container{
    display:flex;
    gap:60px;
    padding:90px;
    align-items:flex-start;
    margin: 5% auto;
    margin-bottom: 15px;
}

.slider{
    width:580px;
    height:720px;
    overflow:hidden;
    border-radius:8px;
    box-shadow:0 10px 30px rgba(0,0,0,0.25);
}

.slide-track{
    display:flex;
    flex-direction:column;
    animation: scroll 18s linear infinite;
}

.slide-track img{
    width:100%;
    height:360px;
    object-fit:cover;
    margin-bottom: 10px;
}

@keyframes scroll{
    0%{ transform:translateY(0); }
    100%{ transform:translateY(-50%); }
}

.text{
    max-width:800px;
}

.text h1{
    font-size:60px;
    font-weight:bold;
    margin-bottom:20px;
}

.text p{
    font-size:22px;
    color:#5a6775;
    line-height:1.6;
    margin-bottom:25px;
}

@media(max-width:900px){
    .container{
        flex-direction:column;
        padding:30px;
    }

    .slider{
        width:100%;
        max-width:400px;
        height:450px;
    }

    .text h1{
        font-size:36px;
    }

    .text p{
        font-size:18px;
    }
}

.footer{
background:#86100E;
color:white;
padding:60px 80px;
font-family: Arial, sans-serif;
}

.footer-container{
display:flex;
justify-content:space-between;
gap:50px;
}

.footer-col h3{
margin-bottom:15px;
}

.footer-col h3 a{
color: white;         
text-decoration: none;  
}

.footer-col p{
margin:6px 0;
color:white;
font-size:14px;
}

.footer-col p a{
color: white;         
text-decoration: none;  
}

.footer-coll p{
margin:6px 0;
color:white;
font-size:14px;
text-align: right;
}

.badges{
margin-top:15px;
display:flex;
gap:10px;
}

.badges img{
width:60px;
margin-left: 90px;
}

.copyright{
margin-top:20px;
font-size:12px;
color:#aaa;
}